@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0B
}

@layer base {
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  }
}


::selection {
  background-color: #ffcb18;
  color: #fff;     
}